@{
    ViewBag.Title = "Home";
}
<div class="container" style="padding-top:150px">
        <div class="jumbotron">
            <h1>Business Reviewer</h1>
                <p id="p1">People use Business Reviewer to search for everything from the city's tastiest burger to the most renowned cardiologist. What will you uncover in your neighborhood?</p>
                <button id="btn1" class="btn btn-default">Check Jquery</button>
                
        </div>
    </div>
